<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.modules.message.mapper.MsChatGroupMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.modules.message.model.entity.MsChatGroupMember">
        <id column="group_id" property="groupId" />
        <result column="user_id" property="userId" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <resultMap id="UserResultMap" type="com.wang.jmonkey.modules.sys.model.entity.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="real_name" property="realName" />
        <result column="photo" property="photo" />
    </resultMap>

    <resultMap id="DeptUserResultMap" type="com.wang.jmonkey.modules.sys.model.dto.SysDeptUserDto">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <collection property="userList" ofType="com.wang.jmonkey.modules.sys.model.entity.SysUser">
            <id column="user_id" property="id" />
            <result column="user_real_name" property="realName" />
            <result column="user_photo" property="photo" />
        </collection>
    </resultMap>

    <delete id="deleteByGroupId">
        DELETE FROM ms_chat_group_member WHERE group_id = #{groupId}
    </delete>

    <delete id="outGroup">
        DELETE FROM ms_chat_group_member
        WHERE group_id = #{groupId} and user_id = #{userId}
    </delete>

    <select id="selectMemberByGroupId" resultMap="UserResultMap">
        select u.*
        FROM ms_chat_group_member cgm
        inner JOIN sys_user u ON cgm.user_id = u.id
        WHERE cgm.delete_flag = 'Used' AND u.delete_flag = 'Used' AND cgm.group_id = #{groupId}
    </select>

    <select id="selectMemberIdByGroupId" resultType="java.lang.String">
        select user_id
        FROM ms_chat_group_member
        WHERE delete_flag = 'Used' AND group_id = #{groupId}
    </select>

    <select id="deptUserList" resultMap="DeptUserResultMap">
        select d.*, u.id as user_id, u.real_name as user_real_name, u.photo as user_photo
        FROM ms_chat_group_member cgm
        inner JOIN sys_user u ON cgm.user_id = u.id AND u.delete_flag = 'Used'
        INNER JOIN sys_user_dept ud ON ud.user_id = u.id AND ud.delete_flag = 'Used'
        INNER JOIN sys_dept d on d.id = ud.dept_id AND d.delete_flag = 'Used'
        WHERE cgm.delete_flag = 'Used'
        AND cgm.group_id = #{groupId}
        order by d.sort
    </select>
</mapper>
