<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.modules.message.mapper.MsChatGroupMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.modules.message.model.entity.MsChatGroupMember">
        <id column="group_id" property="groupId" />
        <result column="user_id" property="userId" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <delete id="deleteByGroupId">
        DELETE FROM ms_chat_group_member WHERE group_id = #{groupId}
    </delete>

    <delete id="outGroup">
        DELETE FROM ms_chat_group_member
        WHERE group_id = #{groupId} and user_id = #{userId}
    </delete>

</mapper>
