<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.modules.message.mapper.MsMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.modules.message.model.entity.MsMessage">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="rate" property="rate" />
        <result column="pi_id" property="piId" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <resultMap id="DtoResultMap" type="com.wang.jmonkey.modules.message.model.dto.MsMessageDto" extends="BaseResultMap">
        <result column="create_name" property="createName" />
        <result column="read_state" property="readState" />
        <collection property="fileList" ofType="com.wang.jmonkey.modules.message.model.entity.MsFile">
            <id column="file_id" property="id" />
            <result column="file_name" property="name" />
            <result column="file_path" property="path" />
        </collection>
    </resultMap>

    <select id="selectDtoById" resultMap="DtoResultMap">
        select ms.*, u.real_name as create_name, f.id as file_id, f.name as file_name, f.path as file_path
        FROM ms_message ms
        left join sys_user u on ms.create_by = u.username
        LEFT JOIN ms_file f on f.message_id = ms.id AND f.delete_flag = 'Used'
        WHERE ms.id = #{id}
    </select>

    <select id="selectTotal" resultType="java.lang.Long">
        select count(1)
        from ms_message
        where delete_flag = 'Used'
        <if test="title != '' and title != null">
            AND title like '%${title}%'
        </if>
    </select>

    <select id="selectListPage" resultMap="DtoResultMap">
        select ms.*,
          u.real_name as create_name
        from ms_message ms
        LEFT JOIN sys_user u on ms.create_by = u.username
        WHERE ms.delete_flag = 'Used'
        <if test="title != '' and title != null">
            AND ms.title like '%${title}%'
        </if>
        ORDER BY ms.create_date desc
        LIMIT ${limitStart}, ${size}
    </select>

    <select id="selectReadListPage" resultMap="DtoResultMap">
        select ms.*,
          u.real_name as create_name, r.state as read_state
        from ms_message ms
        LEFT JOIN sys_user u on ms.create_by = u.username
        LEFT JOIN ms_read r ON ms.id = r.message_id AND r.user_id = #{userId}
        WHERE 1=1
        <if test="msIdList != null and msIdList.size > 0">
            and ms.delete_flag = 'Used'
            and ms.id in
            <foreach collection="msIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="msIdList == null || msIdList.size == 0">
            and ms.delete_flag = '_TEMP_'
        </if>
        ORDER BY ms.create_date desc
    </select>

    <select id="selectAuditListPage" resultMap="DtoResultMap">
        select ms.*,u.real_name as create_name
        from ms_message ms
        LEFT JOIN sys_user u on ms.create_by = u.username
        WHERE 1=1
        <if test="msIdList != null and msIdList.size > 0">
            and ms.delete_flag = 'Used'
            and ms.id in
            <foreach collection="msIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="msIdList == null || msIdList.size == 0">
            and ms.delete_flag = '_TEMP_'
        </if>
        ORDER BY ms.create_date desc
    </select>

</mapper>
