<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/common/header :: common_header(~{::title},~{::link},~{})">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/panel/index.css}">
</head>
<body>
    <div id="app" class="layout">
        <layout style="height: 100%">
            <header>
                <div th:include="include/panel/header :: header" ></div>
            </header>

            <layout>
                <sider hide-trigger>
                    <i-menu active-name="http://www.baidu.com" theme="light" width="auto" accordion @on-select="selectMenu">
                        <menu-item name="http://www.baidu.com">
                            <icon type="ios-navigate"></icon>
                            首页
                        </menu-item>
                        <submenu name="1">
                            <template slot="title">
                                <icon type="ios-navigate"></icon>
                                系统设置
                            </template>
                            <menu-item name="/page/sys/user/index.html" >用户管理</menu-item>
                            <menu-item name="/page/sys/role/index.html">角色管理</menu-item>
                            <menu-item name="/page/sys/dept/index.html">部门管理</menu-item>
                            <menu-item name="/page/sys/menu/index.html">菜单管理</menu-item>
                        </submenu>
                    </i-menu>
                </sider>

                <layout :style="{padding: '0 10px 10px'}">
                    <breadcrumb>
                        <breadcrumb-item> <icon type="ios-home-outline"></icon> </breadcrumb-item>
                        <breadcrumb-item>系统设置</breadcrumb-item>
                        <breadcrumb-item>用户管理</breadcrumb-item>
                    </breadcrumb>
                    <content>
                        <iframe class="J_iframe" name="iframe" width="100%" height="100%" :src="toMenu" frameborder="0">

                        </iframe>
                    </content>
                    <footer>
                        <div th:include="include/panel/footer :: footer" ></div>
                    </footer>
                </layout>
            </layout>
        </layout>
    </div>
</body>
<script type="text/babel">
    new Vue({
        el: '#app',
        data: function() {
            return {
                toMenu: 'http://www.baidu.com',
            }
        },
        created() {

        },
        methods: {
            selectMenu(menuName){
                this.toMenu = menuName;
            },
        },

    })
</script>
</html>