<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,styles)">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title th:replace="${title}"> Title </title>

    <link th:href="${thymeleaf.staticPath} + 'iview/3.1.4/styles/iview.css'" rel="stylesheet" >
    <link rel="stylesheet" th:href="@{/css/common/common.css}">

    <!-- es6 ie 兼容 start -->
    <script th:src="${thymeleaf.staticPath} + 'babel-standalone/6.26.0/babel.min.js'"></script>
    <script th:src="${thymeleaf.staticPath} + 'babel-polyfill/7.0.0-rc.4/polyfill.min.js'"></script>
    <!-- es6 ie 兼容 end -->

    <script th:src="${thymeleaf.staticPath} + 'vue/2.5.17/vue.min.js'" ></script>
    <script th:src="${thymeleaf.staticPath} + 'iview/3.1.4/iview.min.js'" ></script>

    <script th:src="${thymeleaf.staticPath} + 'vuex/3.0.1/vuex.min.js'" ></script>
    <script th:src="@{/scripts/store/index.js}" ></script>

    <th:block th:replace="${links}" />
    <th:block th:replace="${styles}" />

    <script type="text/babel">
        //设置iview默认大小
        Vue.use(iview, {
            size: 'large'
        });
    </script>
</head>
<!--

使用说明：
    1.在html页面中：
        <head th:replace="include/common/header :: common_header(~{},~{},~{})">
        </head>
    2.若更换title：
        <head th:replace="include/common/header :: common_header(~{::title},~{},~{})">
            <title> 更换的title </title>
        </head>
    3.若引入新的css样式
        <head th:replace="include/common/header :: common_header(~{::title},~{::link},~{})">
            <title> 更换的title </title>
            <link rel="stylesheet" th:href="@{/css/panel/index.css}">
        </head>
    4.若写入新的css
        <head th:replace="include/common/header :: common_header(~{::title},~{::link},~{::style})">
            <title> 更换的title </title>
            <link rel="stylesheet" th:href="@{/css/panel/index.css}">

            <style>
                html{
                    height: 2px;
                }
            </style>
        </head>

    5.若引入新的js文件，应在<body>标签下方引入js文件

-->